{% extends "appprincipal/index.html" %}
{% load static %}
{% load form_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="d-flex flex-column">
    {% block contenidoQueCambia %}
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <div class="  mb-3">
                    <img src="{{request.user.imagen.imagen.url}}" alt="" style="height: 100px; width: 100px; border-radius: 50%; margin-right: 10px;">
                </div>
                    <h1 class="fw-bolder">Editar Usuario</h1>
                    <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <p class="fs-5 fw-bold">{{ msg_register }}</p>
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST" action="{% url 'editarUsuario' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                {{ form.first_name|add_class:"form-control" }}
                                {{ form.first_name.label_tag }}
                                {{ form.first_name.errors }}
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                {{ form.email|add_class:"form-control" }}
                                {{ form.email.label_tag }}
                                {{ form.email.errors }}
                            </div>
                            <!-- Avatar input-->
                            <div class="form-floating mb-3">
                                <p>Avatar: {{ form.imagen }}</p>
                            </div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Confirmar</button></div>
                            <div class="d-grid"><a href= "{%url 'editarClave'%}" class="btn btn-primary btn-lg" id="submitButton" type="submit" style="margin-top: 5px; background-color: #6f42c1; border-color: #6f42c1;">Modificar Contraseña</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>