{% extends "appprincipal/index.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="d-flex flex-column">
    {% block contenidoQueCambia %}
    <section class="py-5">
        <div class="container px-5">
            <!-- Contact form-->
            <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h2 class="fw-bolder">¿Estás seguro de que deseas eliminar la imágen?</h2>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <p class="fs-5 fw-bold">{{ msg_register }}</p>
                        <form id="contactForm" method="post">
                            {% csrf_token %}
                            <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Confirmar</button></div>
                            <div class="d-grid"><a href="{% url 'detalleProyecto' object.id %}" class="btn btn-primary btn-lg" id="submitButton" type="submit" style="margin-top: 5px; background-color: #6f42c1; border-color: #6f42c1;">Cancelar</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>