{% extends "appprincipal/index.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Modern Business - Start Bootstrap Template</title>
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        {% block contenidoQueCambia %}
        <!-- Projects Section-->
        <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Proyectos</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            
                            {% for proyecto in proyectos %}
                                {%if proyectos%}
                                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                        <div class="card-body p-0">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <div class="p-5 text-center">
                                                    <h2 class="fw-bolder">{{proyecto.titulo}}</h2>
                                                    <h3>{{proyecto.subtitulo}}</h3>
                                                    <p>
                                                        {{proyecto.autor}}<br>
                                                        {{proyecto.fecha}}<br><br>
                                                        <a class="btn btn-outline-dark btn-m px-5 py-3 fs-6 fw-bolder" style="width: 23.5rem;" href="{%url 'detalleProyecto' proyecto.id%}">Ver Proyecto</a>
                                                        
                                                    </p>
                                                </div>
                                                <img class="img-fluid" src="{{proyecto.imagen.imagen.url}}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                {%else%}
                                    <p>No hay proyectos</p>
                                    {%endif%}
                            {%endfor%}
                        </div>
                    </div>
                </div>
        </section>
        <!-- Call to action section-->
        <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Crea tu propio proyecto</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="{%url 'crearProyecto'%}">Nuevo Proyecto</a>
                        <!--<a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="contact.html">Mis proyectos</a>-->
                    </div>
                </div>
        </section>
        {% endblock %}
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'appprincipal/js/scripts.js' %}"></script>
    </body>
</html>
